#tablaAsesorias{
    left:-10%;
    position:relative;
    width: 110%;
    height:350px;
    overflow-y: scroll;

}
th,td{
    width: auto;
}

.dialogo{
	border: 1px solid #FE2E2E !important;
	display: none;
	background: #ffffff !important;
        
}
.ui-dialog{
	border-radius: 5px;
	width: 50% !important;
}
.ui-dialog-titlebar{
	background: #FE2E2E !important;
	color: #FFF;
}
#banner{
    position:relative;
    top:20px;
    width: 90%;
    height: 230px;

}

#imgP{
    width: 70%;
    height: 90%;

}

@font-face{

    font-family: "sistemas";
    src: url(../FONTS/sistemas.woff);

}

.dosEnLinea{
    width: 49.5%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    border: 1px solid white;
   
}

.enlinea{
	display: inline-block;
	vertical-align: middle;
}

.tresEnLinea{
	width: 32.7%;
        background: white;
	display: inline-block;
	vertical-align: top;
}



body{
    zoom: 1;
    background: url(../IMG/fondo.jpg) repeat;
    font-family: sistemas;

}

img{
    width: 100%;
    height: 100%;
}


#contenedorPadre{
    position: relative;
    background-color:white;
    width: 80%;
    height: auto;

    margin-left:10%;
    margin-right: 10%;

}





#contenedorInforme{
    background-color:#FFF7F7;
    width: 90%;
    height: auto;
    border:1px solid #CCC;
}



#contenedorIngreso{


    background-color:#FFF7F7;
    width: 1000px;
    height: 500px;
    border:1px solid #CCC;


}




#contenedorC {
    position: relative;
    width: 45%;
    height: 500px;
    left:55%;
    bottom:2%;
    top:-1%;
}

.sub_menu ul {
    padding: 0px;
    margin: 0px;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.sub_menu ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #C00;
    line-height: 32px;
    border-bottom: 1px dotted #93bcc3;
    list-style-type: none;
    text-indent: 8px;
}

.sub_menu ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

.main_cont {
    position: absolute;
    top:0px;
    left:-165%;
    width: 100%;
    background-color: #C00;
    padding: 5px;
    border:2px solid #CCC;

}



.main_horas{
    position: relative;
    top:60%;
    left:-165%;
    width: 100%;

    background-color: white;
    padding: 5px;
    border:1px solid #FFAFAF;



}
.main_leyenda {

    position: relative;
    top:50%;
    left:-165%;
    width:100%;

    background-color: white;
    padding: 5px;
    border:1px solid #FFAFAF;

}
/*#cierre{
    color:#FFF;
    border:1px solid #c00;
    background-color:#c00;
    text-decoration:none;
    display:inline-block;
    height:38px;
    padding:0 20px;
    line-height:40px;
    margin:0 5px;
    -webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px;  css3 
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#c00));background: -moz-linear-gradient(top, white, #c00);  css3 
}*/

.menu_top_bg {
    width: 100%;
    background: url(../grfx/menu_top_bg.gif) repeat-x;
    height: 22px;
    padding-top: 8px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1px;
}

#pie{
    color:#FFF;
    background-color:#fff;
    margin:0 auto;
    margin-top:10px;
    width:1300px;
    padding:20px 0;
    text-align:center;
    background-color:#e08282;
    -webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#c00));background: -moz-linear-gradient(top, white, #c00); /* css3 */
}


#imgBD{
    
    position: relative;
    width: 650px;
    height: 400px;
    right: -140px;
    top:-400px;

}

#contenedorE{
position: relative;
    width: 120%;
    height: auto;
    right: 30%;
    top:5%;
    
    background-color:white;
    border:1px solid #CCC;

}


#cent{
    text-align: center;
   
}    

#contenedorD{
    position: relative;
    width: 100%;
    height: auto;
    right: 30%;
    top:5%;
    
    background-color:white;
    border:1px solid #CCC;
}

#imgDoc{
    position: relative;
    width: 650px;
    height: 400px;
    right:30%;
    
}


#imgDoc2{
    position: relative;
    width: 650px;
    height: 400px;
    right: -140px;
    top:-500px;
}






input[type="text"]:focus, input[type="password"]:focus, select:focus, textArea:focus{
    color:black;
    background-color:navajowhite;
}

#col1{
    background-color: rgba(255, 255, 255, 0.7);
}

#col2{
    background-color: rgba(247, 80, 80, 0.6);
}



h1{
    font-size: 30px;
    font-family: 'breipfont', 'Georgia';
    text-shadow:3px 7px 6px #e4685d;
    line-height: 30px;
    padding-left: 18px;
}

#form{

    display:block;
    width:400px;
    padding:10px;
    background-color:white;
    border:1px solid #CCC;
    -webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */


}


input[type="submit"], input[type="button"], input[type="reset"]{

    background-color:#FE2E2E;;
    font-size:15px;
    font-weight:bold;

    cursor:pointer;
    width:auto;

    color: #000;
}

#back{
    background-color:gray;;
    font-size:15px;
    font-weight:bold;

    cursor:pointer;
    width:auto;

    color: #000;
}

table{
    border: solid 1px;
    font-size: small;
    alignment-adjust:  central;
    alignment-baseline: central;
    box-shadow: 5px 10px 44px #f0b8b8;
    width: 70%;
    position: relative;
    right: 1%;
        



}

tr{
    border: solid 1px;
    border-color:black;
    width: 20px;
    height: 22px;
}



th{
    background-color:  rgba(194, 59, 44, 0.7);
}

.inicio{
    border: solid 1px;
    background-color: rgba(0, 0, 0, 0);
    alignment-adjust:  central;
    alignment-baseline: central;
    box-shadow: 5px 10px 44px #f0b8b8;
    width: 80%;

    transition:All 0.5s ease;
    -webkit-transition:All 0.5s ease;
}


.input-switch + label {
    alignment-adjust: central;
    position: relative;
    display: inline-block;
    height: 18px;
    width: 75px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #FFF7F7;;
    line-height: 25px;
    text-align: left;
    -webkit-transition: background-color 0.5s;

}

.input-switch {
    display: none;
}

.input-switch + label span.grip {
    alignment-adjust: central;
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 15px;
    height: 18px;
    background-color: #DADADA;
    border-radius: 5px;
    -webkit-transition: left 0.5s;

}
.input-switch + label span.switch-label {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 17px;
    width: 56px;
    overflow: hidden;
    text-align: center;
    -webkit-transition: opacity 0.5s;

}
.input-switch + label span.switch-label.on {
    left: 2px;
    opacity: 0;
}

.input-switch:checked + label {
    background-color: #E79191;
}
.input-switch:checked + label span.grip {
    left: 60px;
}
.input-switch:checked + label span.switch-label {
    opacity: 0;
}
.input-switch:checked + label span.switch-label.on {
    opacity: 1;
}





#cierre {
    font-size: 17px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: 2px solid #d83526;
    padding: 6px 44px;
    text-shadow:3px -2px 1px #b23e35;
    font-weight:normal;
    text-decoration:none;
    cursor: pointer;
    background:-webkit-linear-gradient(90deg, rgba(228, 104, 93, 0.81) 24%, rgba(252, 141, 131, 0.78) 78%);
    background:-moz-linear-gradient(90deg, rgba(228, 104, 93, 0.81) 24%, rgba(252, 141, 131, 0.78) 78%);
    background:-ms-linear-gradient(90deg, rgba(228, 104, 93, 0.81) 24%, rgba(252, 141, 131, 0.78) 78%);
    background:linear-gradient(180deg, rgba(252, 141, 131, 0.78) 24%, rgba(228, 104, 93, 0.81) 78%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d');
    /*background-color:rgba(228, 104, 93, 0.81);*/
    color:#ffffff;
    display:inline-block;
}
#cierre:hover {
    background:-webkit-linear-gradient(90deg, rgba(252, 141, 131, 0.78) 24%, rgba(228, 104, 93, 0.81) 78%);
    background:-moz-linear-gradient(90deg, rgba(252, 141, 131, 0.78) 24%, rgba(228, 104, 93, 0.81) 78%);
    background:-ms-linear-gradient(90deg, rgba(252, 141, 131, 0.78) 24%, rgba(228, 104, 93, 0.81) 78%);
    background:linear-gradient(180deg, rgba(228, 104, 93, 0.81) 24%, rgba(252, 141, 131, 0.78) 78%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83');
    /*background-color:rgba(252, 141, 131, 0.78);*/
}
#cierre:active {
    position:relative;
    top:1px;
}